{% load bootstrap4 %}
<!-- {% load static %} -->
<!DOCTYPE html>
<html>

<head>
    {% bootstrap_css %}
    <!-- <link rel="stylesheet" href="% static 'style.css' %"> -->
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Book Library</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                
            </ul>
            <form class="form-inline my-2 my-lg-0" method="post" action="{% url 'search_books' %}">
                {% csrf_token %}
                <input class="form-control mr-sm-2" type="text" name="search" id="search" placeholder="Search by title or author" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
              </form>
        </div>
    </nav>
    <div class="content">

        {% block content %}
        {% endblock %}
    </div>
    {% bootstrap_javascript %}
</body>

</html>