{% extends "base.html" %}
{% block content %}
    {% for book in books %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2">{{ book.author }}</a>
              <small class="text-muted">{{ book.published_date }}</small>
            </div>
            <h2><a class="article-title" href="{% url 'book_detail' book.id %}">{{ book.title }}</a></h2>
            <p class="article-content">{{ book.content }}</p>
          </div>
        </article>
        {% empty %}
    <h1>Nothing found</h1>
    {% endfor %}
{% endblock content %}